body {
    overflow: hidden;
}

#corpo-dashboard {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#left-section-dashboard {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100vh;
}

#help-button-dashboard {
    display: flex;
    background-color: var(--verde-claro);
    align-items: center;
    justify-content: center;
    flex-grow: 0.20;
}

#menu-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 2;
    background-color: var(--verde-azul);
}

#logoff-button-dashboard {
    display: flex;
    background-color: var(--rosa);
    align-items: center;
    justify-content: center;
    flex-grow: 0.20;
}

#middle-side-section-dashboard {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    background-color: var(--verde-azul-escuro);
}

#umidade-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50%;
}

.grafico-donut {
    width: 33%;
    height: 300px;
}

#grafico-barra {
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#grafico-barra span {
    color: white;
}

.logoff-dashboard {
    position: absolute;
}

#mobile-logoff-help-button-dashboard{
    display: none;
}


/* ini: Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(57, 150, 3);
    /* cor do background que vai ocupar o body */
    z-index: 999;
    /* z-index para jogar para frente e sobrepor tudo */
}

#preloader .inner {
    position: absolute;
    top: 50%;
    /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);
}

.bolas>div {
    display: inline-block;
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: 3px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: animarBola;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.bolas>div:nth-child(1) {
    animation-duration: 0.75s;
    animation-delay: 0;
}

.bolas>div:nth-child(2) {
    animation-duration: 0.75s;
    animation-delay: 0.12s;
}

.bolas>div:nth-child(3) {
    animation-duration: 0.75s;
    animation-delay: 0.24s;
}

@keyframes animarBola {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    16% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }
    33% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}


/* end: Preloader */


/* start SWITCH LIGHT AND WATER */

img.switch-icon {
    width: 100px;
    height: 100px;
    margin: 30px;
}

#switch-container-dashboard {
    display: flex;
    /*Main Axis*/
    justify-content: space-around;
    /*Cross Axis*/
    align-items: center;
}

#switch-container-dashboard.water-container {
    flex-direction: column;
}

#switch-container-dashboard.light-container {
    flex-direction: column;
}

.switch-dashboard {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.botao-configuracao-dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--amarelo-verde);
    border-radius: 100px;
    width: 10vw;
    height: 3em;
    text-align: center;
}


/* Hide default checkbox */

.switch-dashboard input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* Slider */

.slider-dashboard {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider-dashboard:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider-dashboard.slider-water {
    background-color: var(--azul-escuro);
}

input:focus+.slider-dashboard.slider-water {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider-dashboard.slider-light {
    background-color: var(--amarelo-medio);
}

input:focus+.slider-dashboard.slider-light {
    box-shadow: 0 0 1px black;
}

input:checked+.slider-dashboard:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider-dashboard {
    border-radius: 34px;
}

.slider-dashboard:before {
    border-radius: 50%;
}


/* start Configurações */

#iframeConfig {
    border: none;
    width: 30vw;
    height: 63vh;
}


/* GRAFICOS */

#graficos-dashboard {
    width: 90%;
    height: 60%;
}

#mobile-nav{
    display: none;
}


@media only screen and (min-device-width: 360px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    body {
        width: 100vw;
        height: 100vh;
        overflow: auto;
    }
    #left-section-dashboard {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    #menu-dashboard {
        height: 80%;
        flex-grow: none;
    }
    #help-button-dashboard {
        display: none;
    }
    #logoff-button-dashboard {
        display: none;
    }
    #mobile-logoff-help-button-dashboard{
        display: flex;
        flex-direction: row;
        height: 10%;
    }
    #help-mobile-button-dashboard,#logoff-mobile-button-dashboard{
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
    }
    #help-mobile-button-dashboard{
        background-color: var(--verde-claro);
    }
    #logoff-mobile-button-dashboard{
        background-color: var(--rosa);
    }
    #configArduino {
        width: 100%;
    }
    #iframeConfig {
        width: 100%;
    }
    #middle-side-section-dashboard {
        width: 100%;
        height: 100%;
        padding: 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #umidade-container {
        flex-direction: column;
    }
    .grafico-donut {
        width: 100%;
        height: 45%;
    }
    #grafico-barra {
        width: 100%;
        height: 20%;
    }
    #abrirConfig {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .botao-configuracao-dashboard{
        width: 80%;
    }

    #icone-menu-dashboard {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 8px;
        z-index: 10;
    }

    #mobile-nav{
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
        height: 5%;
        background-color: var(--verde-azul);
        z-index: 999;
    }

    #icone-menu-dashboard {
        margin: 30px;
        line-height: 70px; 
    }

}