html, body {
    margin: 0;
    padding: 0;
}

.corpo-fundo{
    display: flex;
    justify-content: flex-end;
    background: url(../../img/compress/Horta-Fundo.png) repeat center fixed;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.login-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 500px;
    padding: 55px;
    background-color: #fffa;
}


#login {}

#cadastro {
    display: none;
    padding: 10px;
}

.cadastro{
    /* superior | direita | inferior | esquerda */
    padding: 20px 55px 55px 55px;  
    display: flex;
    flex-direction: column;
}
.aditional{

}

.header-card{
    padding: 0px;
}
.header-card i{
    font-size: 1.5rem;
    transition:0.4s ease-in-out;
}
.header-card i:hover{
    transform: scale(1.5);
    color:rgb(222,222,222);
}
.logo-container {
    margin-bottom:50px;
    display: flex;
    justify-content: center;
}

.logo-container img {
    width: 200px;
}

.login-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25vh;
    width: 100%;
}

.cadastro-info-container{
    display: flex;
    flex-direction: column;
   justify-content: center;
    height: 25vh;
    width: 100%;
    padding-top: 5%;
}


.inp-login-cadastro {
    box-sizing: content-box;
    height: 40px;
    text-indent: 20px;
    border: none;
    margin-bottom: 1%;
    padding: 2%;
    border-radius: 2em;
    font-size: 1em;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-login-cadastro {
    background-color: greenyellow;
    font-size: 1.5em;
    height: 40px;
    border-radius: 2em;
    box-shadow: 2px 2px 0 0 #777;
    transition: 0.5s;
}

.btn-login-cadastro:hover,.btn-login-cadastro:active{
    box-shadow: none;
    transform: scale(0.95);

}

#icone-loading{
    display: none;
}

.cadastro-recuperar-container {
    display: flex;
    flex-direction: column;
    justify-items: left;
    font-size: 1em;
}
.cadastro-recuperar-container {
    font-family: 'Roboto', sans-serif;

}

.link {
    text-decoration: none;
    color: purple;
}

.link:hover {
    text-decoration: underline;
    color: pink;
    cursor: pointer;
}

.footer-card {
    text-align: center;
    color: #777b;
}



#btn-cadastro{
    margin-bottom: 2%;
    margin-top:2%;
}
#btn-login{
 
    margin-top:2%;
}

.alerts{
   display:none;
   background-color: rgba(255, 0, 0, 0.411);
   border-radius: 2em;
   color: red;
   padding: 1%;
   margin:1%;
   
}
.container-alerts{
    display:flex;
    justify-content: center;
    
}
/* Media queryes */

@media only screen and (min-device-width: 360px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    body {
        justify-content: center;
    }
   
    .login-cadastro {
        width: 80%;
        height: 80%;
        padding: 35px;
        align-self: center;
        align-content: center;
        border-radius: 0 0 100px 0;
    }
    .logo-container {
        margin-bottom: 1em;
    }
    .login-info-container {
        flex-grow: 1;
        justify-content: space-between;
    }
    .cadastro-info-container {
        flex-grow: 1;
        justify-content: space-between;
    }
   
}