body {
    display: flex;
    flex-direction: row;
    overflow: hidden;

    height: 100vh;
    width: 100vw;
}

#graficoAgua {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
}

#graficoAgua .chart {
    width: 0;
    height: 0;
    position: relative;
    border: 100px solid cornflowerblue;
    border-radius: 50%;
}

#graficoAgua .cover-under50 {
    position: absolute;
    z-index: 10;
    border: 20px solid rgba(199, 199, 199, 0.8);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    left: -100px;
    top: -100px;
    -webkit-clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    transform: rotate(180deg);
}

#graficoAgua .cover-over50 {
    position: absolute;
    z-index: 30;
    border: 20px solid rgba(199, 199, 199, 0.8);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    left: -100px;
    top: -100px;
    -webkit-clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    transform: rotate(0deg);
}

#graficoAgua .fill-over50 {
    position: absolute;
    z-index: 20;
    border: 20px solid cornflowerblue;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    left: -100px;
    top: -100px;
    -webkit-clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    transform: rotate(0deg);
    /* -180deg to 0deg for 50% to 100%*/
}

#graficoAgua .info {
    width: 160px;
    height: 160px;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    z-index: 60;
    font-size: 3rem;
    line-height: 10rem;
    font-family: sans-serif;
    text-align: center;
    top: -80px;
    left: -80px;
}

#graficoAgua .info::after {
    content: '%';
}

#leftSideSec{
    display: flex;
    flex-direction: row;
    width: 30vw;
    height: 100vh;
    background-color: greenyellow;
}

#middleSideSec{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    background-color: grey;
}

#rightSideSec{
    display: flex;
    width: 30vw;
    height: 100vh;
    background-color: coral;
    
}

/* DEBUG AREA */
#teste001{
    background-color: hotpink;
    width: 160px;
    height: 160px;
}

