<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>iGrower - Como Usar</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../assets/css/css-min/style.min.css'>
    
</head>
<body id="corpo-index">
    <div class="menu-index">
        <div class="itens-menu-juntos-index">
            <div class="item-menu-index "><a href="../index.html">Sobre o Projeto</a></div>
            <div class="item-menu-index"><a href="como-usar.html">Como usar</a></div>
        </div>
        <div >
            <div class="item-menu-index"><a href="login-cadastro.html">Login</a>
            </div>
        </div>
    </div>

    <div class="img-apresentacao">

        <img src="../assets/img/compress/Logo.png" alt="Logo" class="img-index">

    </div>

    <div>
        <div>
            <h1>Como Usar</h1>
        </div>
        <div class="texto">
            <p class="fundo_texto">
                A proposta a ser desenvolvida é a criação de uma horta de tamanho inicialmente reduzida para que caiba em pequenas cozinhas ou pequenos
                espaços dentro de uma residência, que terá baixo custo de produção e consequentemente de venda, assim sendo acessível a um público maior 
                e mostrando que a implementação de soluções IoT podem ser feitas com gastos pequenos e que não é preciso uma infraestrutura complexa
                para serem executadas. A horta será composta por uma Placa de Desenvolvimento de Hardware Livre, que fará o controle dos componentes 
                físicos, um sensor, que irá informar a humidade do solo, controladores de energia e de vasão de água, para ser feito o gerenciamento de 
                água e luz, além de ter um WebApp para smartphone que mostrará visualmente as informações captadas pelos sensores e tendo a função de
                controlar de forma remota as funções para regar e controlar a exposição a luz da planta. 
            </p>

            <div class="video"><iframe width="1864" height="770" src="https://www.youtube.com/embed/WLyhHG_L-Ww" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <p class="fundo_texto">
                Para configurar o dispositivo no Wi-Fi, cadastre-se no sistema e depois clique em configurações e coloque as credenciais de sua rede Wi-Fi e gere o arquivo de configurações, logo 
                depois, coloque o arquivo gerado dentro do cartão de memória do dispositivo, insira o cartão novamente e ligue o dispositivo.
            </p>

        </div>
    </div>

    <footer>
        <div class="texto-rodape">
            © ICoders - Todos Direitos Reservados 2020
        </div>
    </footer>
</body>
</html>