<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../init/reset.css">
    <link rel="stylesheet" href="../assets/css/telaInicial.css">

    <title>Document</title>
</head>

<body>
    <section id="leftSideSec">
        menu principal (funcionalidades etc)
    </section>
    <section id="middleSideSec">
        <div id="graficoAgua">
            <div class="chart">
                <div class="cover-under50"></div>
                <div class="cover-over50"></div>
                <div class="fill-over50"></div>
                <div class="info">0</div>
            </div>
        </div>
        <div id="teste001">
            teste001
        </div>
    </section>
    <section id="rightSideSec">
        menu secundario (colocar o que poderia ter em outra página)
        display none até clicar em algum botão
    </section>

    <!-- teste -->
    <script src="../assets/js/teste.js"></script>
    <script src="../assets/js/testeTelaInicial.js"></script>

</body>

</html>