<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/css-min/style.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../assets/js/libs/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
    <script defer src="../assets/js/js-min/script.min.js"></script>


    <title>Document</title>
</head>

<body id="corpo-dashboard">

    <div id="preloader">
        <div class="inner">
            <!-- HTML DA ANIMAÇÃO MUITO LOUCA DO SEU PRELOADER! -->
            <div class="bolas">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <section id="left-section-dashboard">
        <div id="help-button-dashboard" class="button"><span>AJUDA</span></div>
        <div id="menu-dashboard">
            <div class="switch-container-dashboard">
                <div class="switch-container-dashboard light-container">
                    <img src="../assets/img/Luz.png" alt="" class="switch-icon">
                    <label class="switch-dashboard">
                        <input id="switch-light-dashboard"type="checkbox">
                        <span class="slider-dashboard slider-light"></span>
                    </label>
                </div>

                <div class="switch-container-dashboard water-container">
                    <img src="../assets/img/Água.png" alt="" class="switch-icon">
                    <label class="switch-dashboard">
                        <input id="switch-water-dashboard"type="checkbox">
                        <span class="slider-dashboard slider-water"></span>
                    </label>
                </div>
            </div>
            <div id="configArduino">
                <div id="abrirConfig">
                    <div class="botao-configuracao-dashboard">Configurações</div>
                </div>
            </div>
        </div>
        <div id="logoff-button-dashboard"><span class="button">SAIR</span></div>
        <div id="mobile-logoff-help-button-dashboard">
            <div id="help-mobile-button-dashboard" class="button"><span>AJUDA</span></div>
            <div id="logoff-mobile-button-dashboard"><span class="button">SAIR</span></div>
        </div>
    </section>

    
    <section id="middle-side-section-dashboard">
        <div id="mobile-nav">
            <label id="icone-menu-dashboard">&#9776;</label>
        </div>
        <div id="umidade-container">
            <div class="grafico-donut"><canvas id="graficos-solo-dashboard"></canvas></div>
            <div class="grafico-donut"><canvas id="graficos-ar-dashboard"></canvas></div>
        </div>
        <div id="icone-loading-dashboard"><i class="fa fa-spinner fa-spin"></i>Carregando</div>
        <div id="grafico-barra">
            <span>Temperatura</span>
            <canvas id="graficos-temperatura-dashboard"></canvas>
        </div>
    </section>
</body>

</html>