<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/css-min/style.min.css">
    <script src="https://kit.fontawesome.com/9280d503ee.js" crossorigin="anonymous"></script>
    <script src="../assets/js/libs/jquery.min.js"></script>
    <script  src="../assets/js/libs/sticker.min.js"></script>
    <script defer src="../assets/js/js-min/script.min.js"></script>
 


    <title>Login</title>
</head>

<body class="corpo-fundo">
    <!-- Login -->
    <div id="login" class="login-cadastro">

        <div class="logo-container">
            <img src="../assets/img/compress/Logo.png" alt="Logo">
        </div>

        <div class="login-info-container">
            <input id="email" class="inp-login-cadastro" type="email" placeholder="E-mail">
            <input id="senha" class="inp-login-cadastro" type="password" placeholder="Senha">
            <div id="btn-login" class="botao btn-login-cadastro">Entrar</div>
            <div class="container-alerts">
                <span class="alerts" id="camposEmBranco">*Favor Preencher os campos</span>
                <span class="alerts" id="credenciaisIncorretas">*Credenciais Incorretas</span>
            </div>
            <div class="cadastro-recuperar-container">
                <p>Sem cadastro? Clique<span class="link" id="abrirCadastro"> aqui</span> para cadastrar.
                    <br>Perdeu a senha?<a href="recuperar-senha.html" class="link"> Recupere aqui.</a></p>
            </div>
        
            <div class="footer-card"> © ICoders - Todos Direitos Reservados 2020</div>

        </div>

    </div>

    <!-- cadastro -->
    <div id="cadastro" class="login-cadastro">

        <div class="header-card"><i id="voltarLogin" class="fa fa-arrow-left" aria-hidden="true"></i></div>

        <div class="cadastro">


            <div class="logo-container">
                <img src="../assets/img/compress/Logo.png" alt="Logo">
            </div>


            <div class="cadastro-info-container">
                <input id="emailCadastro" class="inp-login-cadastro" type="email" placeholder="E-mail">

                <input id="nome" class="inp-login-cadastro" type="text" placeholder="Nome">
                <input id="sobrenome" class="inp-login-cadastro" type="text" placeholder="Sobrenome">
                <input id="senhaCadastro" class="inp-login-cadastro" type="password" placeholder="Senha">
                <input id="confirmarSenha" class="inp-login-cadastro" type="password" placeholder="Confirmar senha">

                <div id="btn-cadastro" class="botao btn-login-cadastro">Cadastrar</div>



            </div>

        </div>
        <div class="aditional">
            <div class="container-alerts">
                <span class="alerts" id="emailExistente">*Email já cadastrado</span>
                <span class="alerts" id="senhasDivergentes">*Senhas divertgentes</span>
                <span class="alerts" id="dadosNaoPreenchidos">*Favor preencher todos os dados</span>
                <span class="alerts" id="senhaCurta">*A senha deve ter 8 ou mais caracteres</span>
            </div>
            <div class="footer-card"> © ICoders - Todos Direitos Reservados 2020</div>
        </div>
    </div>
</body>



</html>