<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Recuperar Senha</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../assets/css/css-min/style.min.css'>
    <script src="../assets/js/libs/jquery.min.js"></script>
   

    <script defer src='../assets/js/js-min/script.min.js'></script>
</head>
<body>
    <div id="teste">aaa</div>
</body>
</html>