<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Recuperar Senha</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../assets/css/css-min/style.min.css'>
    <script src="../assets/js/libs/jquery.min.js"></script>

    <script defer src='../assets/js/js-min/script.min.js'></script>
</head>

<body class="body-center">
    <div class="container-recuperar-senha">
        <div class="row">
            <div class="col-md-6 col-sm-8 col-xs-12 c
          ol-md-offset-3 col-sm-offset-2">
                <div class="card">

                    <div class="image"></div>

                    <div class="content">
                        <h3>Informe seu email</h3>
                        <input id="emailRecuperarSenha" class="inp-recuperar_senha" type="email" placeholder="E-mail">
                        <div id="btn-email" class="botao btn-recuperar-senha">Enviar</div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>

</html>